 /* .country {
    width: 10%;
    height: 5%;
    overflow: hidden;
    border: 2px double red;
} */



body.dark,  body.dark main{
    background-color: hsl(207, 26%, 17%);
}

body.dark .upperHeader, body.dark .countrySearch, body.dark .countryCard, body.dark .regionSelect {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.label-dark {
    display: flex;
}

main{
    background-color: lightgrey;
} 

.allCountries {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.countryCard{
    display: flex;
    flex-direction: column;
   margin: 2%;
}
.moon-icon{
    height: 2rem;
}
.checkbox {
    opacity: 0;
}

img{
    width: 100%;
}

.upperHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    margin: 0;
}

.bottomHeader {
    display: flex;
    justify-content: space-between;
}